.quote-container {
    width: 75%;
    margin-left: 30px;
    margin: 40px 0px 40px 30px;
    border-left: 3px solid #151515;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    min-height: 150px;
    padding: 0px 10px;
}

.quote-container .quote {
    flex: 5;
    padding: 10px;
}

.quote-container .author {
    flex: 1;
    padding: 0px;
    display: flex;
    align-items: center;
    color: rgb(75, 74, 74);
    border-top: 1px #ccc solid;
}

@media (max-width: 800px) {
    .quote-container {
        width: 100%;
        margin-left: 0px;
    }
}