.footer-container {
    width: 100%;
    padding: 10px;
    border-top: 3px solid #333;
    background-color: #151515;
    display: flex;
    font-family: 'Playfair Display', serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #eee;
    position: relative;
}

.footer-container .support {
    display: flex;
    flex-direction: column;
}

.footer-container .link-login, .footer-container .options-adm {
    position: absolute;
    align-self: flex-end;
}

.footer-container .options-adm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}