@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Merriweather&family=Playfair+Display&display=swap');
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  outline: 0px;
}

body {
  min-height: 100vh;
  padding: 0px 150px;
}

@media (max-width: 1220px) {
  body {
    padding: 0px 100px;
  }
}

@media (max-width: 950px) {
  body {
    padding: 0px 50px;
  }
}

@media (max-width: 600px) {
  body {
    padding: 0px;
  }
}